<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'contacts/css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <div id="container">
        <div id="header"><a href="{% url 'contacts:index' %}"><img src="{% static 'contacts/images/contacts.png' %}" width="50px" height='50px' /><span>Employee Contacts App</span></a></div>
        <div id="content">{% block content %}{% endblock content %}</div>
        <div id="footer">&copy; 2016 Employee Contacts App</div>
    </div>

</body>
</html>