{% extends "contacts/base.html" %}

{% block title %}Add Contact{% endblock title %}

{% block content %}
    <div><h3>Add Contact</h3></div>

    <form action="{% url 'contacts:add' %}" method="POST">
        {% csrf_token %}

        {{ form.name }}<br/>
        {% if form.errors.name %}
            {% for error in form.errors.name %}
                {{error}}
            {% endfor %}
        {% endif %}
        <br/><br/>
        {{ form.email }}<br/>
        {% if form.errors.email %}
            {% for error in form.errors.email %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <br/></br/>
        <input type="submit" value="Add Contact" />
    </form>
{% endblock content %}