{% extends "contacts/base.html" %}
{% block title %}Home- Employee Contacts App{% endblock title %}
{% block content %}
    <p><a href="{% url 'contacts:add' %}">Add Contact</a></p>
    <p><a href="{% url 'contacts:list' %}">List All Contacts</a></p>
{% endblock content %}