{% extends 'contacts/base.html' %}

{% block title %} List of Records{% endblock title %}

{% block content %}
    <h2>Contacts List</h2>
    {% if not records %}
        <h4> No Contact found </h4>
        <a href="{% url 'contacts:add' %}">Add new contact</a>
        {% else %}
            <table border="1px solid" align="center">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>

                {% for record in records %}
                    <tr>
                        <td>{{record.name}}</td>
                        <td>{{record.email}}</td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}
{% endblock content %}