#header{
    text-align:center;
    margin-bottom:30px;
    font-size:60px;
}
#header span{
    margin-left:20px
}

#header a{
    text-decoration:none !important;
    #color:blue;
}

#container{
    padding-left:20px;
    text-align:center;
}
#footer{
    text-align:center;
    font-size:12px;
    margin-top:30px
}

.error{
    border:2px solid red;
}